
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;
}

#wrap>.hd_wrapInner {
	padding-top: 90px;
}
::selection {
	background: #ea2f7c;
	color: #ffffff;
}

.hd_main ul,.hd_main ol,.hd_main p {
	font-weight: 300;
}

.hd_main ul {
	margin-left: 20px;
}

.hd_main p {
	line-height: 1.5em;
	font-size: 15px;
	margin-bottom: 20px;
}

.hd_main ul li,.hd_main ol li {
	margin-bottom: 8px;
	font-size: 15px;
}

.hd_main ul {
	list-style-type: square;
}

.page-home .hd_navbar {
	border-bottom: none;
}


.hd_navbar {
	background: #ffffff;
	padding: 30px 0 10px 0;
	border-top: 8px solid #ea2f7c;
	border-bottom: 1px solid #cccccc;
	opacity: 0.0096;
	filter: alpha(opacity = 0.96);
	-webkit-opacity: 0.96;
	-moz-opacity: 0.96;
	-o-opacity: 0.96;
	-khtml-opacity: 0.96;
	opacity: 0.96;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
	filter: alpha(opacity = 96);
}

.hd_navbar .brand {
	margin-left: 0;
	margin-top: 10px;
	position: relative;
	color: #000000;
	font-size: 35px;
/* 	text-transform: lowercase; */
	display: block;
	padding: 0;
}

.hd_navbar .brand:hover {
	background-position: bottom;
}

.hd_navbar .brand:hover .logoI {
	visibility: visible;
}

.hd_navbar .brand .logoHolder {
/* 	font-family: 'Swanky and Moo Moo', cursive; */
	position: absolute;
	width: 220px;
	height: 50px;
}

.hd_navbar .brand .logoFirst {
	color: #db3c14;
}

.hd_navbar .brand .logoI {
	visibility: hidden;
}

.hd_navbar .brand .logoDot {
	color: #db3c14;
	position: absolute;
	z-index: 10;
	top: 12px;
	left: 45px;
	font-size: 25px;
}

.hd_navbar .brand .logoDot:hover {
	visibility: visible;
}

.hd_navbar .nav li {
	font-size: 15px;
/* 	margin-left: 20px; */
}

.hd_navbar .nav li a {
	border-top: 3px solid #ffffff;
}

.hd_navbar .nav li a:hover {
	border-top: 3px solid #666666;
}

.hd_navbar .btn-navbar {
	margin: 0 30px 0 0;
	color: #666666;
	text-shadow: none;
}

.hd_navbar .btn-navbar:hover {
	color: #000000;
}

.hd_navbar .nav-collapse {
	text-align: center;
	background: #f5f5f5;
}

.hd_navbar .nav-collapse li a:hover {
	background: #ffffff !important;
}

.hd_navbar:hover {
	opacity: 0.01;
	filter: alpha(opacity = 1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity = 100);
}

.hd_navbarSub {
	background: #f1f1f1;
	padding: 6px 0;
}

.hd_navbarSub .nav {
	margin: 4px 0;
}

.hd_navbarSub .nav li {
	font-size: 13px;
}

.hd_navbarSub .nav li a {
	color: #b2b2b2;
}

.hd_navbarSub .nav li a:hover {
	background: #ffffff;
}

.hd_navbarSub .dropdown a:hover {
	color: #000000 !important;
}
.hd_hero {
	text-align: center;
}

.hd_hero h1 {
	margin: 50px 0 20px 0;
	color: #db3c14;
	font-size: 40px;
	font-weight: 700;
}

.hd_hero h1 span {
	font-weight: 400;
}

.hd_hero h2 {
	margin-bottom: 30px;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #666666;
}
.hd_cta {
	padding: 40px 0 !important;
}
.hd_cta {
	padding: 60px 0 40px 0;
	text-align: center;
}

.hd_cta .hd_title {
	font-size: 35px;
	margin-bottom: 0px;
	color: #000000;
	line-height: 44px;
	margin: 0;
}

.hd_cta .hd_subTitle {
	font-size: 20px;
	font-weight: 400;
/* 	margin-bottom: 20px; */
	color: #b2b2b2;
	font-family: 'Roboto', sans-serif;
}
