/* included only when we don't want to use fonts from google server */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../../fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html {
    font-size: 62.5%;
}

body {
	background: #ecf0f1;
    color: #2d2d2d;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    /* margin-top: 60px; */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    margin: 0 10px 10px 0;
}

a {
	color: #F1F1F1;
	text-decoration: none;
}

a:hover {
	color: #F5F5F5;
	text-decoration: none;
}


/* Navigation */

#logo {
    float: left;
    margin: 12px 0 12px 18px;
}

#logo a {
	display: block;
}

#sidebar {
	background-color: #16a085;
    height: 120%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width:40px;
    z-index: 2;
}


#nav {
	margin-top: 70px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
	color: #F1F1F1;
	cursor: pointer;
    display: inline-block;
    line-height: 22px;
    filter: alpha(opacity=40);
    font-size: 16px; font-size: 1.6rem;
    font-style: normal;
    font-weight: 100;
    opacity: .4;
    padding: 8px 0 8px 15px;
    text-transform: uppercase;
    width: 70%;
}

#nav ul li.active {
	filter: alpha(opacity=100);
	opacity: 1;
}

#nav ul li.last {
    padding-right: 0px;
}

#nav li span {
	display: inline-block;
	font-size: 14px; font-size: 1.4rem;
	height: 0;
	opacity: 0;
	overflow: hidden;
	padding-left: 1px;
	width: 0;
	font-family: arial;
}

.btn-navbar {
    cursor: pointer;
    filter: alpha(opacity=40);
    float: left;
    margin: 20px 5px 10px;
    opacity: .4;
    padding: 7px 10px;
    color: white;
}

.btn-navbar .icon-bar {
	background-color: #F5F5F5;
    border-radius: 1px 1px 1px 1px;
    box-shadow: none;
    display: block;
    height: 2px;
    width: 18px;
    margin-bottom: 2px;
}

/* Expanded Nav Styling */

.expanded #container {
    left: 100px;
    transform: translate3d(50px, 0px, 0px) scale3d(1, 1, 1);
}

.expanded #sidebar {
	width: 145px;
}
.expanded #header {
	margin-left: 145px;
}
.expanded #nav li {
	width: 90%;
}
.expanded #nav li span {
	display: inline-block;
	height: auto;
	opacity: 1;
	overflow: visible;
	width: auto;
}

/*
.expanded #nav ul li.active:after {
    content: ">";
    display: block;
    margin-top: -21px;
    position: absolute;
    right: -3px;
    z-index: 2;
}
*/

	

/* General Styling */ 

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

#container {
	backface-visibility: hidden;
    left: 40px;
    position: relative;
/*     transform: translate3d(0px, 0px, 0px); */
    transition: transform 500ms ease 0s;
    width: 100%;
}

.section {
	background-attachment: scroll;
	background-position: center top;
	margin-left: -40px;
	position: relative;
	padding: 120px 0 50px;
}

.section h2 {
	display: inline-block;
    font-size: 58px; font-size: 5.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 72px;
}

.section h4 {
    font-size: 23px; font-size: 2.3rem;
    font-weight: 500;
    line-height: 28px;
    margin: 0 0 20px;
    padding-bottom: 5px;
}

.section h5 {
    font-size: 19px; font-size: 1.9rem;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 20px;
    padding-bottom: 5px;
}

.section .title hr {
	border-color: #151515;
	border-width: 1px 0 0;
	margin-top: 50px;
	width: 100%;
}

.section .title .alt hr {
	border-color: #F1F1F1;
}

.section .desc {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section .content {
	margin-top: 50px;
}

.container-fluid {
	margin: 0 auto;
    padding-right: 80px;
    padding-left: 80px;
}

.control-group .controls input, .control-group .controls textarea {
	background: #F1F1F1;controls
	border-radius: 0px;
	min-height: 36px;
}

.control-group .controls input:focus, .control-group .controls textarea:focus {
	border-color: rgba(144, 144, 144, 0.9);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(144, 144, 144, 0.9);
}

.alert, .alert-error {
	border-radius: 0px;
}

.btn-default {
	background: none #F1F1F1;
    color: #151515;
    margin-top: 75px;
}
.btn-login {
  color: #ffffff !important;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.btn-login:hover {
   color: #000 !important;
  background-color: #13987e;
  border-color: #11866f;
}
.btn-inverse {
	background: none #16a085;
    color: #F1F1F1;
    margin-top: 25px;
}

.btn-default, .btn-inverse {
	border: medium none;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 20px;
    padding: 8px 14px;
    text-align: left;
    text-transform: uppercase;
    width: 190px;
}

.btn-inverse span, .btn-default span {
	font-weight: 700;
}

.btn-inverse.alt, .btn-default.alt {
	text-align: right;
}

.btn-inverse i, .btn-default i {
	float: right;
	line-height: 20px;
}

.btn-inverse.alt i, .btn-default.alt i {
	float: left;
}

.read-more {
	cursor: pointer;
	font-weight: 500;
	margin-top: 20px;
	padding-right: 10px;
}

.table th, .table td {
    border-top: 1px solid #151515;
    line-height: 20px;
    padding: 10px 2px;
    text-align: left;
    vertical-align: top;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: rgba(60, 60, 60, 0.4);
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: rgba(75, 75, 75, 0.4);
}


/* Section 1 */ 

#section1 {
	background:#ffffff;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#section1 .intro {
	margin: 130px 0;
}

#section1 .thumb {
	display: none;
}

#section1 .intro h1 {
	color: #F1F1F1;
    font-size: 85px; font-size: 8.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    margin-left: -5px;
}

#section1 .intro h3 {
	color: #F1F1F1;
    font-size: 26px; font-size: 2.6rem;
    font-weight: 100;
    line-height: 28px;
    margin: 0px;
    width: 80%;

}

/* Section 2 */ 

#section2{
}

#section2 h6 {
	padding:15px;
}
.toolbox-header {
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: -5px;
}

.toolbox-item {
	height: 20px;
}

.skill {
    text-align: center;
}

/* Section 3 */ 

#section3 {
	color: #F1F1F1;
}

#section3 h2 {
	margin-left: -5px;
}


#section3 .content img {
	max-width: 96%;
	padding: 2%;
	background-color: #F1F1F1;
}




/* Section 4 */
#section4 {
	margin-bottom:5px;
}
#section4  h2 {
	margin-left: -4px;
}

#section4 .read-more a, #section4 .read-more a:hover {
	color: #151515;
}

#section4 .content .span4, #section4 .content .span6 {
	padding-right: 20px;
}

#section4 .content {
	min-height: 300px;
}

#section4 .content .span8 {
	display: none;
}

#section4 .content .span8.current {
	display: block;
}

#section4 ul.article-tags {
    border-top: 1px solid #151515;
    margin-top: 55px;
    padding-left: 0px;
}

#section4 ul.article-tags li {
    border-bottom: 1px solid #151515;
    cursor: pointer;
    display: block;
    font-size: 17px; font-size: 1.7rem;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 45px;
    position: relative;
    margin-left: 0px;
}

#section4 ul.article-tags li:hover, #section4 ul.article-tags li.current {
    background-color: #1abc9c;
    color:#ecf0f1;
}

#section4 ul.article-tags i {
    left: 15px;
    font-size: 16px; font-size: 1.6rem;
    position: absolute;
    top: 10px;
}

#section4 h4 {
	border-bottom: 1px solid #151515;
    height: 55px;
    margin-bottom: 18px;
}


/* Section 5 */

#section5 {
	background:#1abc9c;
	color: #F1F1F1;
	padding-bottom: 10px;
}

#section5 h4.intro {
	border-bottom: 1px solid #F1F1F1;
    height: 35px;
    margin-bottom: 28px;
}

#section5 .content {
	position: relative;
}

#section5 .content .alt {
	margin-top: 20px;
}

#section5 .content .alt h4 {
	line-height: 24px;
	margin: 0;
	padding-right: 20px;
}

#section5 .content .alt h4, #section6 .content .alt span {
	display: inline-block;
}

#section5 .content .alt h5 {
	display: inline;
    line-height: 20px;
    margin: 0;
    padding-right: 10px;
}

#section5 .content .span4 {
	padding-right: 25px;
}

#section5 .btn-default {
    margin-top: 15px;
}

#section5 #footer {
	margin: 200px 0 40px;
}

#section5 #footer p {
	font-size: 14px; font-size: 1.4rem;
}





/* Media Queries */


@media screen and (min-width: 1800px) {
	
	#section1 {
		padding: 300px 0 !important;
	}
}


@media screen and (max-width: 1320px) {
	
	#section1 {
		background-size: 1320px auto;
	}
}

@media screen and (min-width: 1200px) {
	
	
	#section1 {
		padding: 70px 0;
	}
	
	#section1 .intro h1 {
	    font-size: 90px; font-size: 9.0rem;
	    line-height: 100px;
	    letter-spacing: -4px;
	}

	#section1 .intro h3 {
	    font-size: 28px; font-size: 2.8rem;
	    line-height: 34px;
	    width: 90%;
	}
	
	.section h2 {
	    font-size: 67px; font-size: 6.7rem;
	}
			
	.container-fluid {
	    width: 1024px;
	}
}


@media screen and (max-width: 1199px) {

	.section{
		margin-left: -40px;
		padding: 135px 0;
	}
	
	#section1 {
		background-size: 1200px auto;
	}
	
	#section1 .intro {
		margin: 100px 0;
	}		
	
	#section1 .intro h3 {
		font-size: 24px; font-size: 2.4rem;
		line-height: 24px;
	}
	
	.section .content {
	    margin-top: 50px;
	}
	
	.container-fluid {
	    padding-left: 105px;
	    padding-right: 105px;
    }
	

}

@media screen and (max-width: 979px) {
	
	.section h2 {
	    font-size: 48px; font-size: 4.8rem;
	    line-height: 58px;
	}
	
	.section .title hr {
	    margin-top: 40px;
	}
	
	.section .desc .span8 {
    	width: 100%;
	}
	
	#section1 .intro h1 {
		font-size: 70px; font-size: 7.0rem;
		line-height: 70px;
	}	
	
	#section1 .intro h3 {
		font-size: 22px; font-size: 2.2rem;
		line-height: 22px;
	}

	#section5 .content .span4 {
		padding-right: 0px;
	}
	
	.container-fluid {
	    padding-left: 75px;
	    padding-right: 75px;
	}	
		
}

@media screen and (min-width: 768px) and (max-width: 979px) {

	#section1 .intro h3 {
		width: 85%;
	}
	
	#section2 .content .expand {
		width: 48.6188%;
	}
	
	#section4 .content .expand {
		width: 100%;
	}

}


@media (max-width: 767px) {
	
	body {
		padding: 0px;
	}
		
	.section {
		padding: 100px 0;
	}
	
	.section .content {
	    margin-top: 0;
	}
	
	.section .content .pull-right {
    	float:left;
    }
	
	.section h4 {
		margin-top: 30px;
	}
	
	.section .title hr {
		margin-left: 0px;
	}
		
	#section1 {
		background-size: 920px auto;
	}
	
	#section1 .intro {
		margin: 120px 0;
	}
	
	#section1 .intro h3 {
		width: 55%;
	}
	
	#section3 .content img {
    	margin-top: 30px;
    	padding: 1.5%;
    }
        
    #section3 .table th, #section3 .table td {
    	font-size: 13px; font-size: 1.3rem;
	}
	
	#section3 .table {
		margin-top: 30px;
	}
		
    #section5 .span8 {
	    margin-top: 30px;
    }
    
	
}

@media screen and (min-width: 481px) and (max-width: 649px) {

	#section1 .intro h1 {
		font-size: 60px; font-size: 6rem;
		line-height: 60px;
	}
	
	#section1 .intro h3 {
		font-size: 20px; font-size: 2rem;
	}

}




@media screen and (max-width: 480px) {
	 
	.section{
		padding: 80px 0;
	}
	
	#section1 {
	    background-size: 1024px auto;
	    padding: 60px 0;
	}
	
	#section1 .intro {
		margin: 50px 0;
	}

	#section1 .intro h1 {
		font-size: 50px; font-size: 5rem;
		line-height: 50px;
	}
	
	#section1 .intro h3 {
		font-size: 22px; font-size: 2.2rem;
		line-height: 24px;
		width: 100%;
	}
	
	#section1 .thumb {
		background: #95a5a6;
	    display: block;
	    margin-left: 3%;
	    max-width: 80%;
	    padding: 3%;
	}
	
	#section3 .table th, #section3 .table td {
    	font-size: 11px; font-size: 1.1rem;
	}
	
	#section4 h4 {
	    height: auto;
	}    


}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
		url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'),
		url(http://themes.googleusercontent.com/static/fonts/roboto/v9/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
		url(http://themes.googleusercontent.com/static/fonts/roboto/v9/7m8l7TlFO-S3VkhHuR0at7rIa-7acMAeDBVuclsi6Gc.woff)
		format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url(http://themes.googleusercontent.com/static/fonts/roboto/v9/1pO9eUAp8pSF8VnRTP3xnnYhjbSpvc47ee6xR_80Hnw.woff)
		format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
		url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff)
		format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
		url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff)
		format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
		url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff)
		format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
		url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff)
		format('woff');
}


@font-face {
	font-family: 'Arista';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Arista.ttf) format('truetype');
}
h1,h2,h3,h4,h5,h6,.brand {
	font-family: 'Arial', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: 'proxima nova', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	color: #111;
	text-decoration: none
}

a:hover {
	color: #e94000;
	text-decoration: none
}
#section1 {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;
}

#section1>.hd_wrapInner {
	padding-top: 80px;
}
::selection {
	background: #1abc9c;
	color: #ffffff;
}

.hd_main ul,.hd_main ol,.hd_main p {
	font-weight: 300;
}

.hd_main ul {
	margin-left: 20px;
}

.hd_main p {
	line-height: 1.5em;
	font-size: 15px;
	margin-bottom: 20px;
}

.hd_main ul li,.hd_main ol li {
	margin-bottom: 8px;
	font-size: 15px;
}

.hd_main ul {
	list-style-type: square;
}

.hd_wrapInner .hd_navbar {
	border-bottom: none;
}

.hd_navbar {
	background-color:#ffffff;
	margin-left:40px;
/* 	border-top: 8px solid #16a085; */
	border-bottom: 1px solid #cccccc;
	opacity: 0.0096;
	filter: alpha(opacity =  0.96);
	-webkit-opacity: 0.96;
	-moz-opacity: 0.96;
	-o-opacity: 0.96;
	-khtml-opacity: 0.96;
	opacity: 0.96;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
	filter: alpha(opacity =  96);
}

.hd_navbar .brand {
	margin-top:15px;
	position: relative;
	color: #000000;
	font-size: 40px;
	display: block;
}

.hd_navbar .brand:hover {
	background-position: bottom;
}

.hd_navbar .brand:hover .logoI {
	visibility: visible;
}

.hd_navbar .brand .logoHolder {
	font-family: "arista";
	font-weight:600;
	position: absolute;
	text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0, 0, 0, 0.15),
		0px 0.25em 0.021em rgba(0, 0, 0, 0.1), 0px 0.32em 0.32em
		rgba(0, 0, 0, 0.1);
	color:#f9f9f9;
	width: 500px;
	text-decoration: none;
}

.hd_navbar .brand .logoFirst {
	color:#16a085;
}

.hd_navbar .brand .logoI {
	visibility: hidden;
}

.hd_navbar .brand .logoDot {
	color: #000000;
	position: absolute;
	z-index: 10;
/* 	top:11px; */
	left: 119px;
	font-size: 35px;
}

.hd_navbar .brand .logoDot:hover {
	visibility: visible;
}

.hd_navbar .nav li {
	font-size: 15px;
}

.hd_navbar .nav li a {
/* 	border-top: 3px solid #ffffff; */
}

.hd_navbar .nav li a:hover {
	border-top: 3px solid #16a085;
}

.hd_navbar .btn-navbar {
	margin: 0 30px 0 0;
	color: #666666;
	text-shadow: none;
}

.hd_navbar .btn-navbar:hover {
	color: #000000;
}

.hd_navbar .nav-collapse {
	text-align: center;
	background: #f5f5f5;
}

.hd_navbar .nav-collapse li a:hover {
	background: #ffffff !important;
}

.hd_navbar:hover {
	opacity: 0.01;
	filter: alpha(opacity =  1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity =  100);
}
.nav{
	text-align: center;
	padding-top: 10px;
}
.nav .sep {
	border-left: 1px solid #ddd;
	width: 1px;
	margin: 12px;
	height: 30px
}

.nav .signup {
	box-shadow: 0 0 0 2px #dee0e5 inset;
	border-radius: 4px;
	font-weight: bold;
	color: #000000;
}
.hd_navbarSub {
	background: #f1f1f1;
	padding: 6px 0;
}

.hd_navbarSub .nav {
	margin: 4px 0;
}

.hd_navbarSub .nav li {
	font-size: 13px;
}

.hd_navbarSub .nav li a {
	color: #000000;
}

.hd_navbarSub .nav li a:hover {
	background: #ffffff;
}

.hd_navbarSub .dropdown a:hover {
	color: #000000 !important;
}

.hd_hero {
	text-align: center;
}

.hd_hero h1 {
	margin: 0 0 0 0;
	color: #000000;
	font-size: 44px;
	font-weight: 700;
}

.hd_hero h1 span {
	font-weight: 400;
}

.hd_hero h2 {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #666666;
}

.hd_cta {
	padding: 40px 0 !important;
}

.hd_cta {
	padding: 60px 0 40px 0;
	text-align: center;
}

.hd_cta .hd_title {
	font-size: 35px;
	margin-bottom: 0px;
	color: #000000;
	line-height: 44px;
	margin: 0;
}

.hd_cta .hd_subTitle {
	font-size: 20px;
	font-weight: 400;
	/* 	margin-bottom: 20px; */
	color: #b2b2b2;
	font-family: 'Roboto', sans-serif;
}

.landing .featurette {
/* 	margin-left:-60px; */
	text-align: center
}

.landing .featurette .video i {
	padding:5px 17px;
	color: #fff;
	background: #16a085;
	border-radius: 3px;
	margin-right: 10px;
	font-size: 24px;
	line-height: 30px
}

.landing .featurette .video span {
	font-size: 20px;
	margin-left: 12px
}
.landing .featurette .lead {
	max-width: 51rem;
	margin: 0 auto
}

.landing .featurette h2 {
	color: #000000;
/* 	font-weight: 200 */
}
.landing .featurette p {
	color: #6c7479;
	font-size: 19px
}
.landing .featurette h3 {
	color: #ea2f7c;
	text-transform: uppercase;
	letter-spacing: .3rem;
	margin: 0
}
.landing .featurette img {
	width:90%;
}

.carousel-indicators {
  position: absolute;
  left: 0;
  z-index: 15;
  width:15%;
  padding-left: 0;
  margin-left:15%;
  bottom:-30px;
  text-align: center;
  list-style: none;
  color: #f1c40f
}

.carousel-indicators li {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-left: 15px;
	display: inline-block;
	font-weight: bold;
	color: #3e4248;
	background-color: #fff;
	text-align: center;
	border-radius: 100px;
	margin: 0;
	font-size: 2rem;
	-webkit-transition: 100ms all linear;
	text-indent: 0;
	cursor: pointer;
	border: none;
	padding-top:8px;
}
.carousel-indicators  li:hover {
	background: #2c3e50;
	color: #fff;
	-webkit-transition: 100ms all linear
}
.carousel-indicators .active {
  width: 40px;
  height: 40px;
  margin: 0;
  color: #fff;
  background-color: #16a085;
  -webkit-transition: 100ms all linear
}

.landing footer {
	background: #040915;
	padding: 80px 0;
	margin: 0
}

.landing footer h5 {
	color: #fff;
	letter-spacing: 0;
	font-size: 18px;
}

.landing footer a {
	color: #dbe4ea
}

.landing footer a:hover {
	color: #fff
}

.landing footer .lovingly span {
	font-family: entypo;
	line-height: .4;
	color: #ddd;
	display: inline-block;
	font-size: 1.5rem
}

.landing footer .lovingly p {
	color: #8f939b;
	font-weight: normal;
	text-transform: uppercase;
/* 	font-size: .8rem; */
	background-size: 62px;
	padding: 50px 0 0;
	margin: 0;
	max-width: 15rem
}


