/*css de login*/
@font-face {
	font-family: 'Arista';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Arista.ttf) format('truetype');
}
.fondo-login{
		border-radius: 0px;
	border-bottom: 1px solid #1d2024;

	background: #1d2024; /* Old browsers */
	background: -moz-linear-gradient(top,  #1a1c20 0%, #1d2024 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1c20), color-stop(100%,#1d2024)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1a1c20 0%,#1d2024 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1a1c20 0%,#1d2024 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1a1c20 0%,#1d2024 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1a1c20 0%,#1d2024 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1c20', endColorstr='#1d2024',GradientType=0 ); /* IE6-9 */
	
}

#login{
	text-align: center;
	width: 100%;
	min-height: 100%;
	padding-bottom: 300px;
	 
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width:400px;
  }
  .container .jumbotron{
	margin: 0 auto;
}
}
.form-signin {
  max-width:300px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin ,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading{
	font-size: 20px;
	margin-bottom:10px;
	font-weight: bold;
}
.form-signin .checkbox {
  padding-top: 15px;
  font-size: 14px;
  text-align: left;
}
.form-signin input[type="checkbox"]{
	
}
.form-signin .form-control {
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  padding-left: 40px;
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background:#FFFFFF url("../img/icon/glyphicons_003_user.png") no-repeat scroll 9px 9px;
}
.form-signin input[type="password"] {
  padding-left: 40px;
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background:#FFFFFF url("../img/icon/glyphicons_044_keys.png") no-repeat scroll 9px 9px;
}

.logo {
	padding-top: 20px;
	margin-bottom:20px;
	margin-left: 0;
	position: relative;
	color: #000000;
	font-size:40px;
	display: block;
	left: -2px;
}

.logo:hover {
	background-position: bottom;
}

.logo:hover .logoI {
	visibility: visible;
}

.logo .logoHolder {
	font-family: 'Arista', 'Arial', sans-serif;
	position: relative;
	text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0, 0, 0, 0.15),
		0px 0.25em 0.021em rgba(0, 0, 0, 0.1), 0px 0.32em 0.32em
		rgba(0, 0, 0, 0.1);
	color: #ffffff;
	width: 250px;
	text-decoration: none;
}

.logo .logoFirst {
	color: #1abc9c!important;//#dd5a43
}

.logo .logoI {
	visibility: hidden;
}

.logo .logoDot {
	color: #d9534f;
	position: relative;
	z-index: 10;
	left: -111px;
	font-size: 35px;
}

.logo .logoDot:hover {
	visibility: visible;
}

.btn-flaty {
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}
.btn-flaty:hover,
.btn-flaty:focus,
.btn-flaty:active,
.btn-flaty.active {
  color: #ffffff;
  background-color: #7f9293;
  border-color: #74898a;
}

