<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="img/favicon.gif" type="image/gif" />
<link rel="icon" href="img/favicon.gif" type="image/gif" />
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/ace/ace.css" rel="stylesheet" media="screen">
<link href="css/ace/ace-skin.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="js/jquery.js"></script>
<link href="css/daterangepicker-bs3.css" rel="stylesheet">
</head>

<body>

	<div class="widget-box">
		<div class="widget-header header-color-blue">
			

			<div class="widget-toolbar">
                    <div id="reportrange" class="btn btn-primary date-picker">
                        <i class="icon-calendar"></i>
                        <span class="date-range">February 1, 2014 - February 28, 2014</span> 
                        <i class="icon-chevron-down"></i>
                    </div>
                
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main no-padding">
				
			</div>
		</div>
	</div>





	<script src="js/bootstrap.js"></script>
	<script src="js/moment.js"></script>
	<script src="js/daterangepicker.js"></script>
	<script src="js/dashboard-demo.js"></script>
	
	<div class="jvectormap-label"></div>
</body>

</html>
